@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ton Duc Thang University<br />
    19 St Nguyen Huu Tho, Tan Hung, Disctrict 7, Ho Chi Minh City<br />
    <abbr title="Phone">P:</abbr>
    Hotline: 1900 2024
</address>

<address>
    <strong>Support:</strong>   <a href="https://admission.tdtu.edu.vn/"> admission.tdtu.edu.vn</a><br />
</address>