@{
    ViewBag.Title = "Supplement Order";
}

<div class="jumbotron">
    <h1>Supplement Order</h1>
    <p class="lead">Our Supplement Company ensure the quality of our goods as well as our modern transportation service to bring comfort to users .</p>
    <p><a class="btn btn-primary btn-lg" href="/Home/Order">Make an order &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is the website for Agents shall be able to place an order of items and 
            choose payments method to pay such as Cash, Bank transfer, Momo,..
            
        </p>
        <p><a class="btn btn-default" href="https://github.com/demoon2332/SupplementOrderWeb">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Go to my cart</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Continue &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="/Home/About" >Information | Contact &raquo;</a></p>
    </div>
</div>